name: PR Checks
on:
  pull_request:
    branches: ["main"]

jobs:
  on-pr-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
      - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd
      - uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd
      - name: Run unit tests
        shell: bash
        run: |
          sbt test
